.passwordInput {
    border: 1px solid green;
    background-color: ghostwhite;
    color: blue;
    width: 220px;
    height: 30px;

    border-radius: 7px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.passwordInput::placeholder {
    color: black;
}